footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

body {
	background-color: navy;
	background-image: url("https://raw.githubusercontent.com/n4rus/a100e3.github.io/master/led.jpg");
}
